extends ../_skeleton

block variables
  - pageName = 'Test'

block page
  // Header
  include ../sections/_header

  // Section Main
  .section
    .container
      .row.row-20
        .col-12.col-lg-3
          .navigation
            .navigation-header
              .navigation-burger: +img('burger-01-14x10.png')
              .navigation-title: span Меню
            .navigation-body
              ul.navigation-list
                - for(let i = 1; i <= 7; i++)
                  li.navigation-list-item
                    a.navigation-list-link(href='#')
                      span= `Ссылка ${i}`
                      span.navigation-list-link-img: +img('arrow-right-01-8x14.png')
        .col-12.col-lg-9
          form.form.form-inline
            .input-group: input.form-input.form-input-search(placeholder='Поиск по сайту')
            .input-button: button.btn.btn-lg.btn-secondary(type='submit'): span Поиск
          .block-goods
            .block-goods-header
              -
                goodsList = [
                  {
                    title: 'Ссылка 1',
                    icon: 'goods-car'
                  },
                  {
                    title: 'Ссылка 2',
                    icon: 'goods-truck'
                  },
                  {
                    title: 'Ссылка 3',
                    icon: 'goods-wheel'
                  },
                  {
                    title: 'Ссылка 4',
                    icon: 'goods-oilcan'
                  },
                  {
                    title: 'Ссылка 5',
                    icon: 'goods-supply'
                  },
                ]
              ul.block-goods-list
                - for (let i = 0; i < goodsList.length; i++)
                  - const {title, icon} = goodsList[i];
                    li.block-goods-list-item
                      a.block-goods-list-link(href='#' class= i === 0 ? 'active' : '')
                        span.block-goods-list-link-img
                          i.icon-goods(class=icon)
                          i.icon-goods(class=icon + '-active')
                        span.block-goods-list-link-text= title
            .block-goods-body.context-dark
              .tabs
                ul.tabs-list
                  li.tabs-list-item: a.tabs-list-link(href='#tab-content-1') Tab 1
                  li.tabs-list-item: a.active.tabs-list-link(href='#tab-content-2') Tab 2
              .content-tab
                .row.row-25
                  .col-12.col-sm-6.col-md-3
                    .select-wrapper
                      select.select
                        option(value='hide') Select 1
                        - list1 = ['Mercedes', 'BMW', 'Audi', 'Hyundai', 'Reno', 'Volvo'];
                        - for (let i = 0; i < list1.length; i++)
                          option(value=`${ list1[i].toLowerCase() }`)= list1[i]
                  .col-12.col-sm-6.col-md-3
                    .select-wrapper
                      select.select
                        option(value='hide') Select 2
                        - list2 = ['Hatchback', 'Sedan', 'MPV', 'SUV', 'Crossover', 'Convertible'];
                        - for (let i = 0; i < list2.length; i++)
                          option(value=`${ list2[i].toLowerCase() }`)= list2[i]
                  .col-12.col-sm-6.col-md-3
                    .select-wrapper
                      select.select
                        option(value='hide') Select 3
                          - list3 = ['White', 'Silver', 'Black', 'Med. Dark Blue', 'Med. Dark Gray', 'Med. Red', 'Med. Dark Green', 'Light Brown'];
                          - for (let i = 0; i < list3.length; i++)
                              option(value=`${list3[i].toLowerCase()}`)= list3[i]
                  .col-12.col-sm-6.col-md-3
                    .select-wrapper
                      select.select
                        option(value='hide') Select 4
                          - list4 = ['5km', '10km', '15km', '20km', '30km', '35km', '40km', '45km+'];
                          - for (let i = 0; i < list4.length; i++)
                              option(value=`${list4[i].toLowerCase()}`)= list4[i]
                  .col-12.col-sm-6.col-md-3
                    .select-wrapper
                      select.select
                        option(value='hide') Select 5
                          - for (let i = 0; i < 9; i++)
                           option(value=`Lorem ${ i }`.toLowerCase() )= `lorem ${ i }`
                  .col-12.col-sm-6.col-md-3
                    .select-wrapper
                      select.select
                        option(value='hide') Select 6
                        - for (let i = 10; i < 19; i++)
                            option(value=`Lorem ${i}`.toLowerCase() )= `lorem ${i}`
                  .col-12.col-sm-6.col-md-3
                    .select-wrapper
                      select.select
                        option(value='hide') Select 7
                          - for (let i = 19; i < 29; i++)
                           option(value=`Lorem ${ i }`.toLowerCase() )= `lorem ${ i }`
