extends ../_skeleton

block variables
  - pageName = 'Test'

block page
  // Header
  include ../sections/_header

  // Section Main
  .section
    .container
      .row.row-20
        .col-12.col-lg-3
          .navigation
            .navigation-header
              .navigation-burger: +img('burger-01-14x10.png')
              .navigation-title: span Меню
            .navigation-body
              ul.navigation-list
                - for(let i = 1; i <= 7; i++)
                  li.navigation-list-item
                    a.navigation-list-link(href='#')
                      span= `Ссылка ${i}`
                      span.navigation-list-link-img: +img('arrow-right-01-8x14.png')
        .col-12.col-lg-9
          .form.form-inline
            .input-group
              input.form-input.form-input-search#search-input(placeholder='Поиск по сайту')
              span.input-error.text-left Длинна запроса больше 2 символов
            .input-button: button#btn-search.btn.btn-lg.btn-secondary(type='submit'): span Поиск
          .block-goods
            .block-goods-header
              -
                goodsList = [
                  {
                    title: 'Ссылка 1',
                    icon: 'goods-car'
                  },
                  {
                    title: 'Ссылка 2',
                    icon: 'goods-truck'
                  },
                  {
                    title: 'Ссылка 3',
                    icon: 'goods-wheel'
                  },
                  {
                    title: 'Ссылка 4',
                    icon: 'goods-oilcan'
                  },
                  {
                    title: 'Ссылка 5',
                    icon: 'goods-supply'
                  },
                ]
              ul.block-goods-list
                - for (let i = 0; i < goodsList.length; i++)
                  - const {title, icon} = goodsList[i];
                    li.block-goods-list-item
                      a.block-goods-list-link(href='#' class= i === 0 ? 'active' : '')
                        span.block-goods-list-link-img
                          i.icon-goods(class=icon)
                          i.icon-goods(class=icon + '-active')
                        span.block-goods-list-link-text= title
            .block-goods-body.context-dark
              .tabs
                ul.tabs-list
                  li.tabs-list-item.active: a.tabs-list-link(href='#tab-1') Tab 1
                  li.tabs-list-item: a.tabs-list-link(href='#tab-2') Tab 2
                .tabs-content
                  #tab-1.tabs-pane.active
                    .row.row-15.row-sm-25
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 1
                            - list1 = ['Mercedes', 'BMW', 'Audi', 'Hyundai', 'Reno', 'Volvo'];
                            - for (let i = 0; i < list1.length; i++)
                              option(value=`${ list1[i].toLowerCase() }`)= list1[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 2
                            - list2 = ['Hatchback', 'Sedan', 'MPV', 'SUV', 'Crossover', 'Convertible'];
                            - for (let i = 0; i < list2.length; i++)
                              option(value=`${ list2[i].toLowerCase() }`)= list2[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 3
                            - list3 = ['White', 'Silver', 'Black', 'Med. Dark Blue', 'Med. Dark Gray', 'Med. Red', 'Med. Dark Green', 'Light Brown'];
                            - for (let i = 0; i < list3.length; i++)
                              option(value=`${list3[i].toLowerCase()}`)= list3[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 4
                            - list4 = ['5km', '10km', '15km', '20km', '30km', '35km', '40km', '45km+'];
                            - for (let i = 0; i < list4.length; i++)
                              option(value=`${list4[i].toLowerCase()}`)= list4[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 5
                            - for (let i = 0; i < 9; i++)
                              option(value=`Lorem ${ i }`.toLowerCase() )= `lorem ${ i }`
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 6
                            - for (let i = 10; i < 19; i++)
                                option(value=`Lorem ${i}`.toLowerCase() )= `lorem ${i}`
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 7
                            - for (let i = 19; i < 29; i++)
                              option(value=`Lorem ${ i }`.toLowerCase() )= `lorem ${ i }`
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .form-input-number-wrapper
                          .form-input-number-label: span Цена
                          .row.align-items-center
                            .col-6: .form-input-number-group: input.form-input-number(type='number' min='50' max='250000' value='50')
                            .col-6: .form-input-number-group: input.form-input-number(type='number' min='50' max='250000' value='100')
                  #tab-2.tabs-pane
                    .row.row-15.row-sm-25.justify-content-center
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 1
                            - list1 = ['Mercedes', 'BMW', 'Audi', 'Hyundai', 'Reno', 'Volvo'];
                            - for (let i = 0; i < list1.length; i++)
                              option(value=`${ list1[i].toLowerCase() }`)= list1[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 2
                            - list2 = ['Hatchback', 'Sedan', 'MPV', 'SUV', 'Crossover', 'Convertible'];
                            - for (let i = 0; i < list2.length; i++)
                              option(value=`${ list2[i].toLowerCase() }`)= list2[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 3
                            - list3 = ['White', 'Silver', 'Black', 'Med. Dark Blue', 'Med. Dark Gray', 'Med. Red', 'Med. Dark Green', 'Light Brown'];
                            - for (let i = 0; i < list3.length; i++)
                                option(value=`${list3[i].toLowerCase()}`)= list3[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 4
                            - list4 = ['5km', '10km', '15km', '20km', '30km', '35km', '40km', '45km+'];
                            - for (let i = 0; i < list4.length; i++)
                              option(value=`${list4[i].toLowerCase()}`)= list4[i]
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .select-wrapper
                          select.select
                            option(value='hide') Select 6
                            - for (let i = 10; i < 19; i++)
                              option(value=`Lorem ${i}`.toLowerCase() )= `lorem ${i}`
                      .col-12.col-sm-6.col-md-4.col-xl-3
                        .form-input-number-wrapper
                          .form-input-number-label: span Цена
                          .row.align-items-center
                            .col-6: .form-input-number-group: input.form-input-number(type='number' min='50' max='250000' value='50')
                            .col-6: .form-input-number-group: input.form-input-number(type='number' min='50' max='250000' value='100')
                  .row.row-15
                    .col-12.col-sm-6
                      button.btn.btn-with-icon.btn-md.btn-secondary-2.reset-filters(type='reset')
                        span.btn-icon.icon-cross
                        span Очистить фильтр
                    .col-12.col-sm-6.text-sm-right
                      button.btn.btn-md.btn-md-big.btn-secondary-gradient(type='submit')
                        span Применить фильтр
    .container
      .product-heading-wrapper
        h2.product-heading: span Карточки товаров
        a.product-heading-link(href='#')
          span Ссылка в каталог
          +img('link-arrow-01-15x3.png')
      .row.product-row.row-no-gutter
        .col-12.col-md-6.col-xl-3.product-col
          .product
            .product-mark: span Mark
            h6.product-title: a(href='#')  Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
            .product-meta
              .product-reviews
                ul.product-reviews-list
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                .product-reviews-chit: a(href='#')  Отзывы (10)

              .product-stock
                | В наличии:
                =" "
                span.product-stock-in 24
                =" "
                | шт.
            .product-body
              ul.product-type-list
                li.product-type-list-item
                  +img('product-type-01-38x38.png').product-type-list-img
                  span.product-type-list-text Летняя
                li.product-type-list-item
                  +img('product-type-02-53x26.png').product-type-list-img
                  span.product-type-list-text Легковая
                li.product-type-list-item
                  +img('product-type-03-48x25.png').product-type-list-img
                  span.product-type-list-text Новая
              .product-img: +img('product-01-157x205')
            ul.product-label-list
              li.product-label-list-item
                .product-label.product-label-new
                  svg(width='99' height='52' viewbox='0 0 99 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(filter='url(#filter0_d1)')
                      path(d='M86.5 12.5H12V22C12 22 15.998 24.2909 16 26.5C16.0019 28.645 12.2359 31 12.2359 31V39.5H86.5V30C86.5 30 83 28.0757 83 26C83 23.9243 86.5 22 86.5 22V12.5Z' fill='#2eb68e')
                    defs
                      filter#filter0_d1(x='0' y='0' width='98.5' height='51.5' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0' result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stddeviation='6')
                        fecolormatrix(type='matrix' values='0 0 0 0 0.180392 0 0 0 0 0.713726 0 0 0 0 0.556863 0 0 0 0.5 0')
                        feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                        feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')

                  span.product-label-text Новинка
              li.product-label-list-item
                .product-label.product-label-hit
                  svg(width='99' height='52' viewbox='0 0 99 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(filter='url(#filter0_d28)')
                      path(d='M86.5 12.5H12V22C12 22 15.998 24.2909 16 26.5C16.0019 28.645 12.2359 31 12.2359 31V39.5H86.5V30C86.5 30 83 28.0757 83 26C83 23.9243 86.5 22 86.5 22V12.5Z' fill='#a25fd1')
                    defs
                      filter#filter0_d28(x='0' y='0' width='98.5' height='51.5' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0' result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stddeviation='6')
                        fecolormatrix(type='matrix' values='0 0 0 0 0.635294 0 0 0 0 0.372549 0 0 0 0 0.819608 0 0 0 0.5 0')
                        feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                        feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                  span.product-label-text Хит
              li.product-label-list-item
                .product-label.product-label-discount
                  svg(width='99' height='52' viewbox='0 0 99 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(filter='url(#filter0_d2)')
                      path(d='M86.5 12.5H12V22C12 22 15.998 24.2909 16 26.5C16.0019 28.645 12.2359 31 12.2359 31V39.5H86.5V30C86.5 30 83 28.0757 83 26C83 23.9243 86.5 22 86.5 22V12.5Z' fill='#e33c53')
                    defs
                      filter#filter0_d2(x='0' y='0' width='98.5' height='51.5' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0' result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stddeviation='6')
                        fecolormatrix(type='matrix' values='0 0 0 0 0.890196 0 0 0 0 0.235294 0 0 0 0 0.32549 0 0 0 0.5 0')
                        feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                        feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                  span.product-label-text скидка
            .product-price
              .product-price-new
                span 599
                span.product-price-new-small грн.
              .product-price-old: span 1 250 грн.
            .product-button-wrapper
              a.product-btn-cart.btn.btn-md.btn-md-big.btn-with-icon.btn-secondary-gradient(href='#')
                +img('cart-01-28x24.png').btn-icon.icon-cart
                span купить товар
            .product-footer
              .product-compare
                a.product-compare-link(href='#')
                  +img('product-compare-01-34x26.png').product-compare-img
                  span.product-compare-text Сравнить товар
              .product-favorites
                a.product-favorites-link(href='#')
                  +img('product-favorites-01-30x29.png').product-favorites-img
                  span.product-favorites-text В избранное
        .col-12.col-md-6.col-xl-3.product-col
          .product
            .product-mark: span Mark
            h6.product-title: a(href='#')  Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
            .product-meta
              .product-reviews
                ul.product-reviews-list
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-01-15x14.png')
                  li: +img('zero-01-15x14.png')
                .product-reviews-chit: a(href='#')  Отзывы (10)

              .product-stock
                | В наличии:
                =" "
                span.product-stock-in 24
                =" "
                | шт.
            .product-body
              ul.product-type-list
                li.product-type-list-item
                  +img('product-type-01-38x38.png').product-type-list-img
                  span.product-type-list-text Летняя
                li.product-type-list-item
                  +img('product-type-03-48x25.png').product-type-list-img
                  span.product-type-list-text Новая
              .product-img: +img('product-02-157x205')
            ul.product-label-list
              li.product-label-list-item
                .product-label.product-label-new
                  svg(width='99' height='52' viewbox='0 0 99 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(filter='url(#filter0_d4)')
                      path(d='M86.5 12.5H12V22C12 22 15.998 24.2909 16 26.5C16.0019 28.645 12.2359 31 12.2359 31V39.5H86.5V30C86.5 30 83 28.0757 83 26C83 23.9243 86.5 22 86.5 22V12.5Z' fill='#2eb68e')
                    defs
                      filter#filter0_d4(x='0' y='0' width='98.5' height='51.5' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0' result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stddeviation='6')
                        fecolormatrix(type='matrix' values='0 0 0 0 0.180392 0 0 0 0 0.713726 0 0 0 0 0.556863 0 0 0 0.5 0')
                        feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                        feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                  span.product-label-text Новинка
              li.product-label-list-item
                .product-label.product-label-hit
                  svg(width='99' height='52' viewbox='0 0 99 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(filter='url(#filter0_d)')
                      path(d='M86.5 12.5H12V22C12 22 15.998 24.2909 16 26.5C16.0019 28.645 12.2359 31 12.2359 31V39.5H86.5V30C86.5 30 83 28.0757 83 26C83 23.9243 86.5 22 86.5 22V12.5Z' fill='#a25fd1')
                    defs
                      filter#filter0_d(x='0' y='0' width='98.5' height='51.5' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0' result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stddeviation='6')
                        fecolormatrix(type='matrix' values='0 0 0 0 0.635294 0 0 0 0 0.372549 0 0 0 0 0.819608 0 0 0 0.5 0')
                        feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                        feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                  span.product-label-text Хит
            .product-price
              .product-price-new
                span 599
                span.product-price-new-small грн.
              .product-price-old: span 1 250 грн.
            .product-button-wrapper
              a.product-btn-cart.btn.btn-md.btn-md-big.btn-with-icon.btn-secondary-gradient(href='#')
                +img('cart-01-28x24.png').btn-icon.icon-cart
                span купить товар
            .product-footer
              .product-compare
                a.product-compare-link(href='#')
                  +img('product-compare-01-34x26.png').product-compare-img
                  span.product-compare-text Сравнить товар
              .product-favorites
                a.product-favorites-link(href='#')
                  +img('product-favorites-01-30x29.png').product-favorites-img
                  span.product-favorites-text В избранное
        .col-12.col-md-6.col-xl-3.product-col
          .product
            .product-mark: span Mark
            h6.product-title: a(href='#')  Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
            .product-meta
              .product-reviews
                ul.product-reviews-list
                  li: +img('zero-01-15x14.png')
                  li: +img('zero-01-15x14.png')
                  li: +img('zero-01-15x14.png')
                  li: +img('zero-01-15x14.png')
                  li: +img('zero-01-15x14.png')
                .product-reviews-chit: a(href='#')  Без отзывов

              .product-stock
                | В наличии:
                =" "
                span.product-stock-in 24
                =" "
                | шт.
            .product-body
              ul.product-type-list
                li.product-type-list-item
                  +img('product-type-01-38x38.png').product-type-list-img
                  span.product-type-list-text Летняя
                li.product-type-list-item
                  +img('product-type-02-53x26.png').product-type-list-img
                  span.product-type-list-text Легковая
                li.product-type-list-item
                  +img('product-type-03-48x25.png').product-type-list-img
                  span.product-type-list-text Новая
              .product-img: +img('product-03-157x205')
            ul.product-label-list
              li.product-label-list-item
                .product-label.product-label-new
                  svg(width='99' height='52' viewbox='0 0 99 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(filter='url(#filter0_d10)')
                      path(d='M86.5 12.5H12V22C12 22 15.998 24.2909 16 26.5C16.0019 28.645 12.2359 31 12.2359 31V39.5H86.5V30C86.5 30 83 28.0757 83 26C83 23.9243 86.5 22 86.5 22V12.5Z' fill='#2eb68e')
                    defs
                      filter#filter0_d10(x='0' y='0' width='98.5' height='51.5' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0' result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stddeviation='6')
                        fecolormatrix(type='matrix' values='0 0 0 0 0.180392 0 0 0 0 0.713726 0 0 0 0 0.556863 0 0 0 0.5 0')
                        feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                        feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                  span.product-label-text Новинка
            .product-price
              .product-price-new
                span 9 570
                span.product-price-new-small грн.
              .product-price-old: span 11 250 грн.
            .product-button-wrapper
              a.product-btn-cart.btn.btn-md.btn-md-big.btn-with-icon.btn-secondary-gradient(href='#')
                +img('cart-01-28x24.png').btn-icon.icon-cart
                span купить товар
            .product-footer
              .product-compare
                a.product-compare-link(href='#')
                  +img('product-compare-01-34x26.png').product-compare-img
                  span.product-compare-text Сравнить товар
              .product-favorites
                a.product-favorites-link(href='#')
                  +img('product-favorites-01-30x29.png').product-favorites-img
                  span.product-favorites-text В избранное
        .col-12.col-md-6.col-xl-3.product-col
          .product
            .product-mark: span Mark
            h6.product-title: a(href='#')  Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany
            .product-meta
              .product-reviews
                ul.product-reviews-list
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                  li: +img('zero-full-01-15x14.png')
                .product-reviews-chit: a(href='#')  Отзывы (10)
              .product-stock
                | В наличии:
                =" "
                span.product-stock-in 24
                =" "
                | шт.
            .product-body
              ul.product-type-list
                li.product-type-list-item
                  +img('product-type-01-38x38.png').product-type-list-img
                  span.product-type-list-text Летняя
                li.product-type-list-item
                  +img('product-type-02-53x26.png').product-type-list-img
                  span.product-type-list-text Легковая
              .product-img: +img('product-04-157x205')
            ul.product-label-list(style='opacity: 0')
              li.product-label-list-item
                .product-label.product-label-new
                  svg(width='99' height='52' viewbox='0 0 99 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(filter='url(#filter0_d111)')
                      path(d='M86.5 12.5H12V22C12 22 15.998 24.2909 16 26.5C16.0019 28.645 12.2359 31 12.2359 31V39.5H86.5V30C86.5 30 83 28.0757 83 26C83 23.9243 86.5 22 86.5 22V12.5Z' fill='#2eb68e')
                    defs
                      filter#filter0_d111(x='0' y='0' width='98.5' height='51.5' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0' result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stddeviation='6')
                        fecolormatrix(type='matrix' values='0 0 0 0 0.180392 0 0 0 0 0.713726 0 0 0 0 0.556863 0 0 0 0.5 0')
                        feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                        feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                  span.product-label-text Новинка
            .product-price
              .product-price-new
                span 599
                span.product-price-new-small грн.

            .product-button-wrapper
              a.product-btn-cart.btn.btn-md.btn-md-big.btn-with-icon.btn-secondary-gradient(href='#')
                +img('cart-01-28x24.png').btn-icon.icon-cart
                span купить товар
            .product-footer
              .product-compare
                a.product-compare-link(href='#')
                  +img('product-compare-01-34x26.png').product-compare-img
                  span.product-compare-text Сравнить товар
              .product-favorites
                a.product-favorites-link(href='#')
                  +img('product-favorites-01-30x29.png').product-favorites-img
                  span.product-favorites-text В избранное

  include ../sections/_footer